# Implementing Preprocessing Techniques

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from scipy import stats

# Generate synthetic dataset for testing
np.random.seed(42)
n_samples = 100
data = {
    'income': np.random.normal(50000, 15000, n_samples),
    'credit_score': np.random.normal(650, 50, n_samples),
    'job_title': np.random.choice(['Engineer', 'Teacher', 'Doctor', 'Artist'], n_samples),
    'target': np.random.choice([0, 1], n_samples)
}

# Introduce missing values and outliers for testing
data['income'][np.random.randint(0, n_samples, 5)] = np.nan
data['credit_score'][np.random.randint(0, n_samples, 3)] = np.nan
data['income'][np.random.randint(0, n_samples, 2)] = 150000  # Outliers
df = pd.DataFrame(data)

In [2]:
df.head()

         income  credit_score job_title  target
0  57450.712295    579.231463   Teacher       0
1  47926.035482    628.967734   Teacher       0
2  59715.328072    632.864274  Engineer       0
3  72845.447846    609.886137    Artist       1
4  46487.699379    641.935714  Engineer       0

## Handle missing values

In [3]:
# Handle missing values by filling with median
for column in df.select_dtypes(include=['float64', 'int64']).columns:
    df[column].fillna(df[column].median(), inplace=True)

C:\Users\messa\AppData\Local\Temp\ipykernel_4760\2423168110.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(df[column].median(), inplace=True)
C:\Users\messa\AppData\Local\Temp\ipykernel_4760\2423168110.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(df[column].median(), inplace=True)
C:\Users\messa\AppData\Local\Temp\ipykernel_4760\2423168110.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(df[column].median(), inplace=True)

In [4]:
# Remove duplicates
df.drop_duplicates(inplace=True)

## Standardize numerical features

In [5]:
scaler = StandardScaler()
numeric_featuees = df.select_dtypes(include=['float64', 'int64']).columns
df[numeric_featuees] = scaler.fit_transform(df[numeric_featuees])

## Encode categorical variables

In [6]:
# One-hot encode categorical variables
df = pd.get_dummies(df, drop_first=True)

## Detect and handle outliers

In [7]:
# Using Z-score to detect outliers
z_scores = np.abs(stats.zscore(df[numeric_featuees]))
df = df[(z_scores < 3).all(axis=1)]  # Keep rows where all z-scores are less than 3

## Address skewed data

In [8]:
# Apply log transformation to address skewness
df['income_log'] = np.log1p(df['income'])

c:\Users\messa\Documents\Microsoft_AI_ML_Engineering\Microsoft_AI_ML_Engineering\env01\Lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log1p
  result = getattr(ufunc, method)(*inputs, **kwargs)

## Split the dataset

In [9]:
## Split the dataset
X = df.drop('target', axis=1)
y = df['target']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)